<br><br><br><br><br><br>


<div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Property Listing</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

   
  

        <div class="container">
            <div class="row">
                <!-- Results -->
                <div class="col-md-9 col-sm-9">
                    <section id="results">
                        <header><h1>Properties Listing</h1></header>
                        <section id="search-filter">
                            <figure><h3><i class="fa fa-search"></i>Search Results:</h3>
                                <span class="search-count">28</span>
                                <div class="sorting">
                                    <div class="form-group">
                                        <select name="sorting">
                                            <option value="">Sort By</option>
                                            <option value="1">Lowest price first</option>
                                            <option value="2">Highest price first</option>
                                            <option value="3">Date added</option>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div>
                            </figure>
                        </section>
                        <section id="properties" class="display-lines">
                            <div class="property" ng-repeat="pro in property">
                                <figure class="tag status">{{pro.status}}</figure>
                                <figure class="type" title="Apartment"><img src="assets/img/property-types/apartment.png" alt=""></figure>
                                <div class="property-image">
                                    <figure class="ribbon">In Hold</figure>
                                    <a href="property-detail.html">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a ui-sref="prodetails({id:pro.id})"><h3>{{pro.name}}</h3></a>
                                        <figure>{{pro.location}}</figure>
                                    </header>
                                    <div class="tag price">{{pro.price}}</div>
                                    <aside>
                                        <p>{{pro.description}}</p>
                                        <dl>
                                            <dt>Status:</dt>
                                                <dd>{{pro.status}}</dd>
                                            <dt>Area:</dt>
                                                <dd>{{pro.area}} m<sup>2</sup></dd>
                                            <dt>Beds:</dt>
                                                <dd>{{pro.beds}}</dd>
                                            <dt>Baths:</dt>
                                                <dd>{{pro.bath}}</dd>
                                        </dl>
                                    </aside>
                                    <a href="property-detail.html" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                       
                            <section id="advertising">
                                <a href="submit.html">
                                    <div class="banner">
                                        <div class="wrapper">
                                            <span class="title">Do you want your property to be listed here?</span>
                                            <span class="submit">Submit it now! <i class="fa fa-plus-square"></i></span>
                                        </div>
                                    </div><!-- /.banner-->
                                </a>
                            </section><!-- /#adveritsing-->

                            <div class="property">
                                <figure class="tag status">For Sale</figure>
                                <figure class="type" title="Garage"><img src="assets/img/property-types/garage.png" alt=""></figure>
                                <div class="property-image">
                                    <a href="property-detail.html">
                                        <img alt="" src="assets/img/properties/property-05.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="property-detail.html"><h3>3542 Bryan Street</h3></a>
                                        <figure>Lexington, NC 27292 </figure>
                                    </header>
                                    <div class="tag price">$ 75,000</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Status:</dt>
                                            <dd>Sale</dd>
                                            <dt>Area:</dt>
                                            <dd>860 m<sup>2</sup></dd>
                                            <dt>Beds:</dt>
                                            <dd>3</dd>
                                            <dt>Baths:</dt>
                                            <dd>2</dd>
                                        </dl>
                                    </aside>
                                    <a href="property-detail.html" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                            <div class="property">
                                <figure class="tag status">For Sale</figure>
                                <figure class="type" title="Apartment"><img src="assets/img/property-types/apartment.png" alt=""></figure>
                                <div class="property-image">
                                    <a href="property-detail.html">
                                        <img alt="" src="assets/img/properties/property-06.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="property-detail.html"><h3>2186 Rinehart Road</h3></a>
                                        <figure>Doral, FL 33178</figure>
                                    </header>
                                    <div class="tag price">$ 238,000</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Status:</dt>
                                            <dd>Sale</dd>
                                            <dt>Area:</dt>
                                            <dd>860 m<sup>2</sup></dd>
                                            <dt>Beds:</dt>
                                            <dd>3</dd>
                                            <dt>Baths:</dt>
                                            <dd>2</dd>
                                        </dl>
                                    </aside>
                                    <a href="property-detail.html" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                            <div class="property">
                                <figure class="type" title="Villa"><img src="assets/img/property-types/villa.png" alt=""></figure>
                                <div class="property-image">
                                    <a href="property-detail.html">
                                        <img alt="" src="assets/img/properties/property-08.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="property-detail.html"><h3>1949 Tennessee Avenue</h3></a>
                                        <figure>Westland, MI 48185 </figure>
                                    </header>
                                    <div class="tag price">$ 38,000</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Status:</dt>
                                            <dd>Sale</dd>
                                            <dt>Area:</dt>
                                            <dd>860 m<sup>2</sup></dd>
                                            <dt>Beds:</dt>
                                            <dd>3</dd>
                                            <dt>Baths:</dt>
                                            <dd>2</dd>

                                        </dl>
                                    </aside>
                                    <a href="property-detail.html" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->

                            <!-- Pagination -->
                            <div class="center">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul><!-- /.pagination-->
                            </div><!-- /.center-->
                        </section><!-- /#properties-->
                    </section><!-- /#results -->
                </div><!-- /.col-md-9 -->
                <!-- end Results -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="edit-search">
                            <header><h3>Search Properties</h3></header>
                            <form role="form" id="form-sidebar" class="form-search" action="properties-listing.html">
                                <div class="form-group">
                                    <select name="type">
                                        <option value="">Status</option>
                                        <option value="1">Rent</option>
                                        <option value="2">Sale</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="country">
                                        <option value="">Country</option>
                                        <option value="1">France</option>
                                        <option value="2">Great Britain</option>
                                        <option value="3">Spain</option>
                                        <option value="4">Russia</option>
                                        <option value="5">United States</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="city">
                                        <option value="">City</option>
                                        <option value="1">New York</option>
                                        <option value="2">Los Angeles</option>
                                        <option value="3">Chicago</option>
                                        <option value="4">Houston</option>
                                        <option value="5">Philadelphia</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">District</option>
                                        <option value="1">Manhattan</option>
                                        <option value="2">The Bronx</option>
                                        <option value="3">Brooklyn</option>
                                        <option value="4">Queens</option>
                                        <option value="5">Staten Island</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="property-type">
                                        <option value="">Property Type</option>
                                        <option value="1">Apartment</option>
                                        <option value="2">Condominium</option>
                                        <option value="3">Cottage</option>
                                        <option value="4">Flat</option>
                                        <option value="5">House</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <div class="price-range">
                                        <input id="price-input" type="text" name="price" value="1000;299000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </aside><!-- /#edit-search -->
                        <aside id="featured-properties">
                            <header><h3>Featured Properties</h3></header>
                            <div class="property small">
                                <a href="property-detail.html">
                                    <div class="property-image">
                                        <img alt="" src="assets/img/properties/property-06.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="property-detail.html"><h4>2186 Rinehart Road</h4></a>
                                    <figure>Doral, FL 33178 </figure>
                                    <div class="tag price">$ 72,000</div>
                                </div>
                            </div><!-- /.property -->
                            <div class="property small">
                                <a href="property-detail.html">
                                    <div class="property-image">
                                        <img alt="" src="assets/img/properties/property-09.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="property-detail.html"><h4>2479 Murphy Court</h4></a>
                                    <figure>Minneapolis, MN 55402</figure>
                                    <div class="tag price">$ 36,000</div>
                                </div>
                            </div><!-- /.property -->
                            <div class="property small">
                                <a href="property-detail.html">
                                    <div class="property-image">
                                        <img alt="" src="assets/img/properties/property-03.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="property-detail.html"><h4>1949 Tennessee Avenue</h4></a>
                                    <figure>Minneapolis, MN 55402</figure>
                                    <div class="tag price">$ 128,600</div>
                                </div>
                            </div><!-- /.property -->
                        </aside><!-- /#featured-properties -->
                        <aside id="our-guides">
                            <header><h3>Our Guides</h3></header>
                            <a href="#" class="universal-button">
                                <figure class="fa fa-home"></figure>
                                <span>Buying Guide</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a><!-- /.universal-button -->
                            <a href="#" class="universal-button">
                                <figure class="fa fa-umbrella"></figure>
                                <span>Right Insurance for You</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a><!-- /.universal-button -->
                        </aside><!-- /#our-guide -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->